
.google_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    max-height: 290px;
    min-height: 92px;
}
.google_logo2 {
    margin-top: auto;
    height: 100%;
}
.googled{
    height: 5em;
	max-height: 100%;
	margin-top: 1.23em;
    width: 17em;
	max-width: 100%;
	object-fit: contain;
	object-position: center bottom;
}
@media (max-width:400px){
    .google_logo2 img {
        width:10em;
    }

}

.buscador_botones {
	position: relative;
	margin: 0 auto;
	padding-top: 6px;
	max-width: 45%;
}
@media (max-width:525px){
    .buscador_botones {
        max-width:100%;
        width:100%;
        
    }

}


.Formulario_1 {
	background: #fff;
	display: flex;
	border: 1px solid #dfe1e5;
	box-shadow: none;
	border-radius: 24px;
	z-index: 3;
	height: 44px;
	margin: 0 auto;
}

.Formulario_1_ext {
	flex: 1;
	display: flex;
	padding: 5px 8px 0 16px;
	padding-left: 14px;
}

.icono_buscador1 {
	display: flex;
	align-items: center;
	padding-right: 13px;
	margin-top: -5px;
}

.icono_buscador1 img {
	margin-top: 3px;
	color: #9aa0a6;
	display: inline-block;
	fill: currentColor;
}
.buscador_text {
	width: 100%;
}
.buscador_text input {
	background-color: transparent;
	border: none;
	width: 100%;
	margin: 0;
	padding: 0;
	color: rgba(0,0,0,.87);
	outline: none;
	display: flex;
	flex: 100%;
	-webkit-tap-highlight-color: transparent;
	margin-top: auto;
	height: 34px;
	font-size: 16px;
}
.buscador_audio {
	display: flex;
	flex: 0 0 auto;
	align-items: stretch;
	flex-direction: row;
}
.buscador_audio1 {
	flex: 1 0 auto;
	display: flex;
	cursor: pointer;
	align-items: center;
	border: 0;
	background: transparent;
	outline: none;
	padding: 0 8px;
	width: 24px;
	line-height: 44px;
}

.botones_buscar {
	padding-top: 18px;
	top: auto;
	z-index: 0;
}

.boton_b1 {
	background-color: #f8f9fa;
	border: 1px solid #f8f9fa;
	border-radius: 4px;
	color: #3c4043;
	font-family: arial,sans-serif;
	font-size: 14px;
	margin: 11px 4px;
	padding: 0 16px;
	line-height: 27px;
	height: 36px;
	min-width: 34px;
	text-align: center;
	cursor: pointer;
	user-select: none;
}
.ofrecido_x {
	flex-grow: 1;
	flex-shrink: 0;
	box-sizing: border-box;
}

.ofrecido_x2 {
	font-size: small;
	margin-bottom: 24px;
	text-align: center;
}
.ofrecido_x3 {
	display: inline-block;
	line-height: 28px;
    font-family: arial,sans-serif;
}